.box-breadcrumbs {
	padding: 30px 0;
	text-align: center;
}
.breadcrumb {
	color: #222;
	text-decoration: underline;
	position: relative;
	&:before {
		content: "\f053";
		display: inline-block;
	    font: normal normal normal 14px/1 FontAwesome;
	    font-size: inherit;
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    margin-right: 10px;
	}
	&:hover {
		color: $brand-primary;
		text-decoration: underline;
	}
}
// 768px
@media all and (min-width: $screen-portrait) {
	.box-breadcrumbs {
		padding: 45px 0;
	}
}

// 992px
@media all and (min-width: $screen-landscape) {
}

// 1200px
@media all and (min-width: $screen-desktop) {
}