#login {
	padding-top: 40px;
	label {
		display: block;
		font-weight: normal !important;
	}
	input.input {
		font-size: 16px !important;
		font-weight: normal !important;
		height: 40px;
	}
}
body.login {
	background: #3A5E84!important;
}
.login #nav a, .login #backtoblog a {
	color: white !important;
}
.login #nav a:hover, .login #backtoblog a:hover {
	text-shadow: none;
	text-decoration: underline !important;
}
.login h1 a {
	background-image: url(images/brand.png) !important;
	background-size: 320px 42px !important;
	background-position: center !important;
	height: 42px;
	width: 320px;
	margin: 0 auto;
	margin-bottom: 50px;
}

#login {
	max-width: 350px;
	width: 100%;
	.message {
		background-color: $brand-primary !important;
		border: none !important;
		color: #FFF !important;
		margin-bottom: 30px !important;
		margin-top: 20px !important;
	}
}
#registerform p {
	display: inline-block;
	margin-right: 23px;
	width: 46%;
}
#pass_strength_msg {
	display: block !important;
}
#wp-submit {
	background: $brand-primary !important;
	border: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	color: #FFF !important;
	text-shadow: none !important;
}
#wp-submit:hover {
	background: darken($brand-primary, 10%) !important;
}