.navigation {
    text-align: left;
    margin-bottom: 40px;
}
.pagination {
    margin: 0;
    padding: 0;
    text-align: center;
    li {
        padding: 0!important;
        margin: 0 5px 5px 0px!important;
        display: inline-block;
        border: none!important;
        vertical-align: middle;
        color: $brand-primary;
        &:before {
            display: none;
        }
        &.active {
            a {
                background: $brand-primary;
                color: white;
            }
        }
        a {
            color: $brand-primary;
            border: 1px solid $brand-primary;
            text-align: center;
            width: 32px;
            height: 32px;
            line-height: 30px;
            font-size:0.875em; 
            display: inline-block;
            &:hover {
                border-color: $brand-primary;
                background: $brand-primary;
                color: white;
            }
        }
        &.last, &.first {
            display: block!important;
            clear: both!important;
            width: 100%;
            margin: 5px 0 10px 0 !important;
            a {
               width: auto;
               min-width: 160px;

               padding: 0 15px;
               text-transform: uppercase;
            }
            
        }
        &.last {
            float: right;
        }
        &.dot {
            position: relative;
            width: 32px;
            height: 32px;
            span {
                position: absolute;
                bottom: -18px;
                left: 0;
                right: 0;
                text-align: center;
            }
        }
    }
}
// < 425px
@media all and (max-width: 425px) {
    .pagination {
        li{
            &.last, &.first {
                a {
                   width: auto;
                   padding: 0 10px;
                    
                    &:before, &:after{
                        margin: 0;
                    }
                }

            }
        }
    }
}
// > 500px
@media all and (min-width: 500px) {
    .pagination {
        text-align: left;
        li {
            margin: 0 0 5px;
            &.last, &.first {
                display: inline-block!important;
                width: auto;
                margin: 0 0 5px!important;
            }
        }
    }
}

// > 768px
@media all and (min-width: $screen-portrait) {
    .pagination {
        li {
            &.last, &.first {
                margin: 0 0 5px!important;
            }
        }
    }
}
// < 768px
@media all and (max-width: $screen-portrait) {
    .pagination {
         li {
            margin: 0 0 5px;
        }
    }
}
// 1200px
@media all and (min-width: $screen-desktop) {
    .pagination {
         li {
            margin: 0 5px 5px 5px;
        }
    }
}