.article {
	h1, h2, h3, h4, h5, h6 {
		color: #222;
		font-size: 2em;
		margin: 10px 0 25px 0;
		font-family: 'HalisGR-BoldItalic';
		text-transform: uppercase;
	}
	h2 {
		font-size: 1.75em;
	}
	h3 {
		font-size: 1.17em;
	}
	h4 {
		font-size: 1.12em;
	}
	h5 {
		font-size: .83em;
	}
	h6 {
		font-size: .75em;
	}
	p {
		font-size: 18px;
		color: $gray;
		font-family: 'HalisGR-Book';
		line-height: 1.7em;
		margin-bottom: 40px;
	}
	img {
		width: 100%;
		height: auto;
		margin-bottom: 40px;
		@include big-shadow;
	}
	blockquote {
		border-left: 10px solid $brand-primary;
		padding: 20px 0 20px 40px;
		margin-bottom: 40px;
		p {
			margin: 0;
			color: $gray;
			font-family: 'HalisGR-MediumItalic';
			font-size: 24px;
			line-height: 1.6em;
		}
	}
	a {
		text-decoration: underline;
		color: $brand-secondary;
		&:hover {
			color: $brand-primary;
		}
	}
	ul, ol {
		list-style-position: outside;
		padding-left: 35px;
		color: $gray;
		font-size: 18px;
		line-height: 1.4em;
		margin-bottom: 40px;
	}
	ul {
		list-style-type: disc; 
	}
	ol {
		list-style-type: decimal; 
	}
	ul ul, ol ul { 
	   list-style-type: circle; 
	   list-style-position: outside; 
	   margin-left: 15px; 
	}
	ol ol, ul ol { 
	   list-style-type: lower-latin; 
	   list-style-position: outside; 
	   margin-left: 15px; 
	}
}

.box-back {
	border-bottom: 1px solid $gray-light;
	padding-bottom: 58px;
	padding-top: 50px;
}

.hr-article {
	height: 1px;
	border: 0;
	margin: 0 0 50px 0;
	background: $gray-light;
}
// 768px
@media all and (min-width: $screen-portrait) {
	.article {
		blockquote {
			p {
				font-size: 32px;
			}
		}
	}
}

// 992px
@media all and (min-width: $screen-landscape) {
	.box-back {
		border-bottom: 0;
		padding-bottom: 120px;
		padding-top: 65px;
	}

	.article {
		max-width: 950px;
		@include center;
	}
}

// 1200px
@media all and (min-width: $screen-desktop) {
}