.box-hero {
	background: url(images/hero.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	padding: 60px 15px;
	h1, h2 {
		color: white;
		text-transform: uppercase;
	}
	h1 {
		font-size: 56px;
		font-family: 'HalisGR-BoldItalic';
		margin-bottom: 20px;
	}
	h2 {
		font-family: 'HalisGR-RegularItalic';
		font-size: 15px;
		max-width: 180px;
		letter-spacing: 1px;
		line-height: 1.4em;
		@include center;
	}
}

// 768px
@media all and (min-width: $screen-portrait) {
	.box-hero {
		padding: 190px 15px;
		h1 {
			font-size: 80px;
		}
		h2 {
			font-size: 20px;
			max-width: 100%;
		}
	}
}

// 992px
@media all and (min-width: $screen-landscape) {
	.box-hero {
		h1 {
			font-size: 136px;
		}
		h2 {
			letter-spacing: 2px;
		}
	}
}

// 1200px
@media all and (min-width: $screen-desktop) {
}