.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    overflow: auto;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99999999999;
}
.modal-window {
    position: relative;
    background-color: #FFFFFF;
    width: 90%;
    z-index: 100;
    margin: 10% auto;
    padding: 30px 30px 10px 30px;
    @include border-box;
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
    h3, h4 {    
        text-align: center;
    }
    img {
        width: 100%;
        display: block;
        height: auto;
        max-width: 285px;
        @include center;
        margin-bottom: 45px;
    }
    h3 {
        color: $brand-primary;
        letter-spacing: 2px;
        font-family: 'HalisGR-BoldItalic';
        font-size: 20px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    h4 {
        font-family: 'HalisGR-Book';
        font-size: 16px;
        letter-spacing: 1px;
        margin-bottom: 45px;
        color: black;
    }
    p {
        color: #999;
        font-family: 'HalisGR-Book';
        line-height: 1.8em;
        margin-bottom: 28px;
        font-size: 16px;
    }
}
.modal-window.small {
    width: 30%;
}
.modal-window.large {
    width: 75%;
}
.close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: black;
    height: 30px;
    width: 30px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}
.close:hover,
.close:focus {
    color: #666;
    cursor: pointer;
}
.open {
    display: block;
}

.modal-facility {
    .modal-window {
        padding: 0;
        img {
            max-width: 100%;
        }
    }
    .close {
        color: white;
    }
}
// 768px
@media all and (min-width: $screen-portrait) {
    .modal-window {
        padding: 100px 100px 70px 100px;
        width: 50%;
        max-width: 850px;
    }
    .close {
        top: 10px;
        right: 15px;
        font-size: 50px;
    } 
}