.brand-partners {
	li {
		background: red;
		border-right: 1px solid #cfd8dc;
		border-bottom: 1px solid #cfd8dc;
		background: $gray-light;
		text-align: center;

		padding-top: 50px;
		padding-bottom: 50px;
		img {
			max-width: 50%;
			max-height: 50%;
		}
	}
}

// 565px
@media all and (min-width: 565px) {
	.brand-partners {
		font-size: 0;
		li {
			padding-top: 0px;
			padding-bottom: 0px;

			display: inline-block;
			width: 50%;
			@include border-box;
			vertical-align: middle;
			@include transition;
			&:hover {
				background: #e3e3e3;
			}
		}
	}
	.center-brand {
		display: table;
		width: 100%;
		height: 200px;
		.vertical-brand {
			display: table-cell;
			vertical-align: middle;
		}
	}
}

// 768px
@media all and (min-width: $screen-portrait) {
	.brand-partners {
		li {
			width: 25%;
		}
	}
}

// 992px
@media all and (min-width: $screen-landscape) {
	.brand-partners {
		li {
			width: 20%;
		}
	}
}

// 1200px
@media all and (min-width: $screen-desktop) {
	.brand-partners {
		li {
			width: 16.6666666667%;
		}
	}
}